<% include partials/header %>
<div class="container">
    <h1><%=camp.name %></h1>
    <p align="center"></p><img src ="<%= camp.image %>"></p>
    <p><%=camp.description %></p>
    <h3>Comments</h3>
    <ul>
        <% camp.comments.forEach(function(comment){ %>
        <li><p><strong><%= comment.author %></strong> - <%= comment.text %></p></li>
    <% }) %>
    </ul>
    
</div>

<% include partials/footer %>